/*------------------ GLOBAL PART  ------------------*/

.about-page {
  min-height: 100vh;
}

/*------------------ PART ONE  ------------------*/

.about-page-partOne {
  margin-bottom: 3rem;
  background-color: var(--clr-bg-dark-grey);

}

.about-page-title-partOne {
  font-family: var(--ft-cara-title);
  font-size: var(--font-size-25);
  color: var(--clr-txt-black-light);
  text-align: left;
  font-weight: 600;
  padding-left: 2rem;
  letter-spacing: 0.1px;
}

.about-page-text-partOne {
  font-family: var(--ft-cara-text);
  color: var(--clr-txt-black-dark);
  font-weight: 400;
  padding-left: 2rem;
  padding-right: 5rem;
  max-width: 40rem;
}

.about-page-text-partOne-readMore {
  font-family: var(--ft-cara-text);
  color: var(--clr-txt-black-dark);
}

.about-page-keyword {
  font-weight: 600;
}

.about-page-bottom-quote {
  font-family: var(--ft-cara-title);
  font-weight: 600;
 
}

.about-page-bottom-btn {
  padding-left: 2rem;
}

/*------------------ PART TWO  ------------------*/

.about-page-partTwo-section {
  background-color: var(--clr-bg-light-grey);
  max-width: 80rem;
}

// .about-page-partTwo-flex {
//   display: grid;
//   grid-template-columns: 10% 25rem;
//   grid-gap: 2px;
// }



.about-page-partTwo-textLeft {
  font-family: var(--ft-cara-title);
  font-weight: 600;
  transform: rotate(-90deg);
  padding: 0;
  white-space: nowrap;
  height: fit-content;
  letter-spacing: 10px;
}

.about-page-partTwo-boxTextOne{
  margin-left: -12rem;
}
.about-page-partTwo-boxTextTwo {
  margin-right: 2rem;
  max-width: 25rem;
}

.about-page-partTwo-textRight {
  
  font-family: var(--ft-cara-text);
  color: var(--clr-txt-black-dark);
  text-align: left;
  font-weight: 200;
}

.about-current-city-text {
  font-family: var(--ft-cara-text);
  color: var(--clr-txt-black-dark);
  
  font-weight: 200;
}

.about-current-city {
  color: var(--clr-txt-yellow);
  font-style: italic;
  font-weight: 400;
}


/*------------------ IMAGE SECTION  ------------------*/
.about-page-image-section {
    background-color: var(--clr-bg-light-grey);
    margin-top: -1.5rem;
    margin-bottom: 5rem;
    
}

.about-page-arrow-bottomPage {
   margin: 8rem 0 4rem 0; 
}


