/*------------------ GLOBAL PART  ------------------*/
.other-project-page-section {
    min-height: 100vh;
    background-color: var(--clr-bg-light-grey);
   
  }

  .project-palm-section {
    position: relative;
    text-align: center;
  }

  .project-palm-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  


