.diary-projects-current-city-text{
    font-size: var( --font-size-15);
}

.diary-projects-current-city{
    font-size: var( --font-size-17);
    font-style: italic;
    color: var(--clr-txt-yellow);
    font-weight: 400;
}