// .diary-projects-current-city-text{
//     font-size: var( --font-size-15);
// }

// .diary-projects-current-city{
//     font-size: var( --font-size-17);
//     font-style: italic;
//     color: var(--clr-txt-yellow);
//     font-weight: 400;
// }

// .diary-project-swiper-box {
// background-color: aqua;
// width: 400px !important;
// height: 400px !important;
// }

.diary-title {
    font-family: var(--ft-gothic) ;
    font-size: var(--font-size-60);
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    color: var(--clr-txt-white) !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--clr-border-contact-form);
    
}

.diary-title-reduced {
    font-family: var(--ft-gothic) ;
    font-size: var(--font-size-35);
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    color: var(--clr-txt-white) !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--clr-border-contact-form);
    white-space: nowrap;
}

.diary-title-pilates {
    font-family: var(--ft-gothic) ;
    font-size: var(--font-size-34);
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    color: var(--clr-txt-white) !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--clr-border-contact-form);
    white-space: nowrap;
}

.diary-text {
    // font-family: var(--ft-cara-text);
    font-family: var(--ft-gothic) ;
    font-size: var(--font-size-30);
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    color: var(--clr-txt-white);
    // color: var(  --clr-border-contact-form) !important; 
    white-space: nowrap;
}

.diary-border {
    border: 3px solid var(--clr-txt-white) !important;
}

.diary-text-discover-arrow {
    font-family: var(--ft-cara-text);
    font-size: var(--font-size-17);
    color: var(--clr-txt-black-dark);
    text-align: center;
    font-weight: 100;
}

.diary-project-text-hover-section {
    position: relative;
    text-align: center;

    &:hover + .diary-project-text-hover-hide + .diary-project-text-hover {
        display: block !important;
    }
   
}

.diary-project-text-hover-box {
   display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--clr-txt-white) ;     
}

.diary-project-text-hover {
     font-family: var(--ft-cara-title);
    font-size: var(--font-size-24);
    color: var(--clr-txt-black-dark);
    text-align: center;
    font-weight: 400;
    color: var(--clr-txt-white) !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--clr-border-contact-form);   
}

// .diary-project-text-hover-section:hover + .diary-project-text-hover + .diary-project-text-hover-box {
//     display: block;
    
// }

