/*------------------ GLOBAL PART  ------------------*/

.interior-project-page-section {
  min-height: 100vh;
  background-color: var(--clr-bg-light-grey);
  margin-bottom: 3rem;
}

/*------------------ UPPER PART  ------------------*/


.interior-project-text-box {
  margin-top: 1.5rem !important;
}



/*------ TITLES AND TEXTS ----*/
.interior-project-title {
  font-family: var(--ft-cara-title);
  font-size: var(--font-size-26);
  color: var(--clr-txt-black-dark);
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

.interior-project-subtitle {
  font-family: var(--ft-cara-title);
  font-size: var(--font-size-22);
  color: var(--clr-txt-black-dark);
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;
}

.interior-project-text {
  font-family: var(--ft-cara-text);
  font-size: var(--font-size-23);
  color: var(--clr-txt-black-dark);
  text-align: center;
  font-weight: 400;
}



/*------------------ SWIPE SECTION  ------------------*/
.interior-project-swipe-section {
  margin: 2rem;
}


.project-swiper-div {
  background-color: var(--clr-bg-dark-grey);
  border: 1px solid black;
}


.project-swiper-div-center {
  margin-bottom: 4rem;
}


.swiper-slide {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.project-swiper-title {
  font-family: var(--ft-cara-title);
  font-size: var(--font-size-36);
  color: var(--clr-txt-black-dark);
  text-align: center;
  font-weight: 400;
}

.project-swiper-text {
  font-family: var(--ft-cara-text);
  font-size: var(--font-size-20);
  color: var(--clr-txt-black-dark);
  text-align: center;
  font-weight: 400;
}

.all-inclusive {
  font-family: var(--ft-cara-title);
  font-size: var(--font-size-36);
  color: var(--clr-txt-black-dark);
  text-align: center;
  font-weight: 400;
  text-transform: nowrap;
}



/*------------------ PALM BOX PART  ------------------*/

.interior-project-palm-section {
  position: relative;
  text-align: center;
  
}

.interior-project-palm-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.interior-project-palm-title {
color: var(--clr-txt-white) !important;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: var(--clr-border-contact-form);

}

.interior-project-palm-text {
text-decoration: underline;
color: var(  --clr-border-contact-form) !important; 
}

.a-tag-interior {
  all: unset;
}









/*------------------ BOTTOM SECTION  ------------------*/
/*------ BOXES ----*/
.interior-project-bottom-section {
  margin-top: -2rem;
}

.interior-project-bottom-textOne {
  line-height: 25px;
}


.interior-project-bottom-text-section {
  margin-top: 2rem !important;
  margin-bottom: 1.3rem !important;
}

/*------ TITLES AND TEXTS ----*/
.interior-project-bottom-swipe-text {
  font-family: var(--ft-cara-text);
  font-size: var(--font-size-17);
  color: var(--clr-txt-black-dark);
  text-align: center;
  font-weight: 100;
  text-transform: lowercase;
}

.interior-project-bottom-textOne {
  font-family: var(--ft-cara-text);
  font-size: var(--font-size-17);
  color: var(--clr-txt-black-dark);
  text-align: center;
  font-weight: 300;
}

.interior-project-bottom-textTwo {
  font-family: var(--ft-cara-text);
  font-size: var(--font-size-14);
  color: var(--clr-txt-black-dark);
  text-align: center;
  font-weight: 100;
}

/*------ ICONS & BUTTONS ----*/
.arrow-swipe-icon {
  color: var(--clr-txt-black-light);
}

.interior-project-bottom-button-box {
  margin-bottom: 1.5rem !important;
}
