/*------------------ GLOBAL PART  ------------------*/
.other-project-page-section {
    min-height: 100vh;
    background-color: var(--clr-bg-light-grey);
   
  }


  
/*------------------ UPPER PART  ------------------*/
.spacer-other-projet {
  margin-bottom: 4rem;
}