/*--------- GENERAL CUSTOMIZE  --------*/
.navbar {
    background-color: var(--clr-bg-navbar-grey) ;
    height: 50px;
}

.navbar-transparent {
    background-color: transparent;
    height: 50px;
}

.nav-menu-section {
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    z-index:999 !important;
}

.menuGroup {
    display: flex !important;
    justify-content: right !important;
    align-items: inherit;
}

.nav-menu-main-item {
    font-family: var(--ft-cara-title) !important;
    font-size: var(--font-size-20) !important;
    color: var(--clr-txt-white) !important;
    font-weight: 100 !important ;
    text-transform: uppercase !important;
}

.nav-menu-secondary-item {
    font-family: var(--ft-cara-text) !important;
    font-size: var(--font-size-17) !important;
    color: var(--clr-txt-white) !important;
    font-weight: 100 !important ;
    text-transform: lowercase !important;
    width: 200px !important;
    &:hover {
        color:var(--clr-txt-black-dark) !important;
        font-weight: 200 !important ;    
    }
}

/*----------------------------- LOGO CUSTOMIZE  ---------------------*/

.landing-page-navbar-logo-partOne {
font-family: var(--ft-cara-logo);
font-size: var(--font-size-14);
color: var(--clr-txt-yellow);
font-weight: 100;
}

.landing-page-navbar-logo-partTwo {
font-family: var(--ft-gothic);
font-size: var(--font-size-12);
color: var(--clr-txt-white);
font-weight: 100 !important ;
text-transform: uppercase;
padding-top: 1px;
}


/*----------------------------- ICONS CUSTOMIZE  ---------------------*/
.services-icon-minus{
margin-right: -2.2rem ;
color: var(--clr-txt-white);
}
.services-icon-plus { 
 margin-right: 2rem ;
 color: var(--clr-txt-white);
}

.diary-icon-minus {
    margin-right: -2.2rem ;
color: var(--clr-txt-white);
}

.diary-icon-plus{
    margin-right: 2.4rem ;
    color: var(--clr-txt-white); 
}