/*--------- GENERAL CUSTOMIZE  --------*/
.navbar {
    background-color: var(--clr-bg-navbar-grey) ;
    height: 50px;
}

.menuGroup {
    display: flex !important;
    justify-content: right !important;
    align-items: inherit;
}

.nav-menu-main-item {
    font-family: var(--ft-cara-title);
    font-size: var(--font-size-20);
    color: var(--clr-txt-white);
    font-weight: 100 !important ;
    text-transform: uppercase;
}

.nav-menu-secondary-item {
    font-family: var(--ft-cara-text);
    font-size: var(--font-size-17);
    color: var(--clr-txt-white);
    font-weight: 100 !important ;
    text-transform: lowercase;
}

/*----------------------------- LOGO CUSTOMIZE  ---------------------*/

.landing-page-navbar-logo-partOne {
font-family: var(--ft-cara-logo);
font-size: var(--font-size-14);
color: var(--clr-txt-yellow);
font-weight: 100;
}

.landing-page-navbar-logo-partTwo {
font-family: var(--ft-gothic);
font-size: var(--font-size-12);
color: var(--clr-txt-white);
font-weight: 100 !important ;
text-transform: uppercase;
padding-top: 1px;
}


/*----------------------------- ICONS CUSTOMIZE  ---------------------*/
.icon-minus{
margin-right: 1.5rem ;
}
.icon-plus { 
 margin-right: 5.21rem ;
}

