.swiper-container {
    width: 330px;
    height: 330px;
  }

  @media screen and (min-width: 640px) {
    .swiper-container {
        width: 400px;
        height: 500px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .swiper-container{
        width: 500px;
        height: 600px;
    }
  }