:root {
    /*----------------------------- FONT COLORS ------------------------*/
    --clr-txt-yellow: #d9a563;
    --clr-txt-black-light: #403529;
    --clr-txt-black-dark: #000000;
    --clr-txt-white: #FFFFFF;
    
   
   
   /*----------------------------- BACKGROUND COLORS ------------------------*/
   
   --clr-bg-dark-grey: #DAD1BE;
   --clr-bg-light-grey: #FEFCF2;
   
   --clr-bg-navbar-grey: #4B483F;
   --clr-bg-menu-grey: #322F28;


    /*----------------------------- LINK COLORS ------------------------*/
    --clr-link-dark-grey: #322F28;
    --clr-link-light-grey: #FEFCF2;
   
   
 /*----------------------------- BUTTONS COLORS ------------------------*/
   --clr-btn-contact: #2F2D26;
   --clr-btn-other: #8C867A;
   
   

   /*----------------------------- OTHER COLORS ------------------------*/
   --clr-border-contact-form: #dbd5c7;
   }
   
   