/* import-FONTS FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display+SC&display=swap');

// @font-face {
//     font-family: glacial;
//     src: url(./fonts/GlacialIndifference-Regular.otf);
//   }

//   @font-face {
//     font-family: yeseva;
//     src: url(./fonts/YesevaOne-Regular.ttf);
//   }


/*----------------------------- FONTS FAMILY ------------------------*/
:root {
  --ft-cara-logo: 'yeseva';
  --ft-cara-sublogo: 'glacial', sans-serif;
  --ft-cara-title: 'Playfair Display SC', serif;
  --ft-cara-text: 'Kumbh Sans', sans-serif;
  --ft-gothic: 'Gothic A1', sans-serif;
  
}

