/* import-FONTS FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display+SC&display=swap');

@font-face {
    font-family: glacial;
    src: url(../../dist/fonts/GlacialIndifference-Regular.otf);
  }

  @font-face {
    font-family: glacialBold;
    src: url(../../dist/fonts/GlacialIndifference-Bold.otf);
  }

  @font-face {
    font-family: glacialItalic;
    src: url(../../dist/fonts/GlacialIndifference-Italic.otf);
  }

  @font-face {
    font-family: yeseva;
    src: url(../../dist/fonts/YesevaOne-Regular.ttf);
  }


/*----------------------------- FONTS FAMILY ------------------------*/
:root {
  --ft-cara-logo: 'yeseva';
  --ft-cara-subLogo: 'glacial', sans-serif;
  --ft-cara-subLogoBold: 'glacialBold';
  --ft-cara-subLogoItalic: 'glacialItalic';
  --ft-cara-title: 'Playfair Display SC', serif;
  --ft-cara-text: 'Kumbh Sans', sans-serif;
  --ft-gothic: 'Gothic A1', sans-serif;
  
}

