/*----------------------------- FONTS SIZES  ---------------------*/
:root {
    --font-size-12: 0.5rem;
    --font-size-13: 0.7rem;
    --font-size-14: 0.8rem;
    --font-size-15: 0.875rem;
    --font-size-17: 0.920rem;
    --font-size-20: 1rem;
    --font-size-22: 1.10rem;
    --font-size-23: 1.19rem;
    --font-size-24: 1.25rem;
    --font-size-25: 1.50rem;
    --font-size-26: 1.70rem;
    --font-size-30: 2rem;
    --font-size-34: 2.5rem;
    --font-size-35: 2.7rem;
    --font-size-36: 3rem;
    --font-size-42: 3.5rem;
    --font-size-50: 4rem;
    --font-size-60: 5.5rem;
    --font-size-65: 5.8rem;
    --font-size-70: 7rem;
}
